body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 50px; /* Add margin-bottom to the title */
}

.app-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Add gap between buttons */
}

.app-btn {
  display: block;
  padding: 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em; /* Adjust font size of the button text */
  width: 300px;
  text-align: center;
  text-decoration: none;
}

.app-btn:hover {
  background-color: #0056b3;
}

#notice-box {
  border: 1px solid #888;
  padding: 15px;
  margin: 10px 0;
  background-color: #f8f8f8;
}

#txt-file, #snps-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

#analyze-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

#analyze-btn:hover {
  background-color: #0056b3;
}

#progress-container {
  height: 20px;
  background-color: #ddd;
  margin-bottom: 20px;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #4CAF50;
}

#results {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  #txt-file, #analyze-btn {
    padding: 15px;
  }
}

.file-upload-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .file-upload-container {
    flex-direction: row;
  }
}
