body {
  font-family: Arial, sans-serif;
}

#txt-file {
  display: block;
  margin-bottom: 20px;
}

#snps-input {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
}

#results {
  margin-top: 20px;
  font-weight: bold;
}
